/* ---------------Box Sizing----------------- */

html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #F1F1F1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='290' height='290' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%2384C1D9' stroke-width='4.1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2384C1D9'%3E%3Ccircle cx='769' cy='229' r='10'/%3E%3Ccircle cx='539' cy='269' r='10'/%3E%3Ccircle cx='603' cy='493' r='10'/%3E%3Ccircle cx='731' cy='737' r='10'/%3E%3Ccircle cx='520' cy='660' r='10'/%3E%3Ccircle cx='309' cy='538' r='10'/%3E%3Ccircle cx='295' cy='764' r='10'/%3E%3Ccircle cx='40' cy='599' r='10'/%3E%3Ccircle cx='102' cy='382' r='10'/%3E%3Ccircle cx='127' cy='80' r='10'/%3E%3Ccircle cx='370' cy='105' r='10'/%3E%3Ccircle cx='578' cy='42' r='10'/%3E%3Ccircle cx='237' cy='261' r='10'/%3E%3Ccircle cx='390' cy='382' r='10'/%3E%3C/g%3E%3C/svg%3E");
  }
  a {
    text-decoration: none;
    color: #000;
  }

/*----- header -----*/
.nav-bar {
  height: fit-content;
  background-color: #f1f1f1;
  border-bottom: 2px solid #ccc;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  width: 100%;
  position: fixed;
  top: 0;
}

.nav-logo {
  float: left;
}

.nav-logo img {
  float: left;
  max-width: 200px;
  max-height: 35px;
  margin-top: 2px;
  margin-left: 20px;
  margin-right: 10px;
}

.nav-bar ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-bar li{
  margin-left: auto;
  margin-right: auto;
  float: left;
}

.nav-bar li a {
  display: block;
  height: fit-content;
  color: #333;
  font-size: small;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.nav-bar li a:hover:not(.active){
  background-color: #cdcccc;
}

.active {
  background-color: #A7D6E8;
}

/* section header */

.section-name {
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 50px;
}

.section-name h1 {
    font-family: 'Raleway', sans-serif;
}

.section-name p {
    font-family: 'Roboto', sans-serif;
}

/* content */

.container {
    width: 80vw;
    margin: 40px auto;
    max-width: 900px;
    background-color: #F1F1F1;
  }

#content{
    border: 1px solid #0D0D0D;
    /*padding-bottom: ;*/
  }
  
  #content p{
    line-height: 15 px;
    padding:10px 10px;
    font-family: 'Roboto', sans-serif;
  }
  
  #content h2{
    font-family: 'Raleway', sans-serif;
    color:#303B40;
    padding:10px 10px;
  }


  /*------footer--------*/
footer#colophon{
    background-color:#84C1D9;
  }
  
  #colophon h6{
    padding:20px;
    margin:auto;
    color:#fff;
    text-align:center;
    font-size:.8rem;
    text-transform:uppercase;
  }
  
  @media screen and (max-width:690px) {
    body{
      flex-direction: column;
      max-width: 400px;
      margin: 0 auto;
    }
}